!!! 5
%html
  %head
    %title Demo
    %link{type: 'text/css', rel: 'stylesheet', href: 'lib/bootstrap/css/bootstrap.min.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'lib/bootstrap/css/bootstrap-responsive.min.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'lib/bootstrap/css/prettify.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'examples/demo.css'}
    %script{type: 'text/javascript', src: 'lib/jquery.min.js'}
    %script{type: 'text/javascript', src: 'src/jquery.dropdown_list_chain.js'}
    %script{type: 'text/javascript', src: 'examples/demo.js'}
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %div.nav-collapse
            %ul.nav
              %li.active
                %a Overview
              %li
                %a{href: 'https://github.com/chentianwen/jquery_dropdown_list_chain/issues'}
                  Issues
              %li
                %a{href: 'https://github.com/chentianwen/jquery_dropdown_list_chain'}
                  Fork me
    %div.container
      %div.page-header
        %h1.title
      %h2 Example
      %div.row
        %form
          %div.span4
            %div
              %label{for: 'country'} Country
              %select{id: 'country', name: 'country'}
                %option
                %option{value: 'au'} Australia
                %option{value: 'cn'} China
              %label{for: 'state'} State
              %select{id: 'state', name: 'state', 'data-toggle' => 'chain', 'data-target' => '#country'}
                %option
                %option{value: 'nsw', 'data-chain' => 'au'} NSW
                %option{value: 'act', 'data-chain' => 'au'} ACT
                %option{value: 'vic', 'data-chain' => 'au'} VIC
                %option{value: 'qld', 'data-chain' => 'au'} QLD
                %option{value: 'wa', 'data-chain' => 'au'} WA
                %option{value: 'nt', 'data-chain' => 'au'} NT
                %option{value: 'gz', 'data-chain' => 'cn'} Guang Dong
                %option{value: 'sh', 'data-chain' => 'cn'} Shang Hai
                %option{value: 'bj', 'data-chain' => 'cn'} Bei Jing

      %h2 Requirement
      %pre.prettyprint.linenums<
        %ol.linenums><
          %li.L0><
            %span.tag><
              &= "<script type='text/javascript' src='url_to/jquery.min.js' />"
      %h2 Installation
      %pre.prettyprint.linenums<
        %ol.linenums><
          %li.L0><
            %span.tag><
              &= "<script type='text/javascript' src='url_to/jquery.dropdown_list_chain.js' />"
      %h2 Usage
      %pre.prettyprint.linenums<
        %ol.linenums><
          %li.L0><
            %span.tag><
              &= "<select class='root dropdown_list_chain' />"
      %h4 OR
      %pre.prettyprint.linenums<
        %ol.linenums><
          %li.L0><
            %span.tag><
              &= "<script type='text/javascript'>"
          %li.L1><
            %span.tag><
              &= "  jQuery(function($){"
          %li.L2><
            %span.tag><
              &= "    $('select.root').chain()"
          %li.L3><
            %span.tag><
              &= "  })"
          %li.L4><
            %span.tag><
              &= "</script>"
          
      .footer
        %p
          Built with the following technologies:
        %p
          %strong Design:
          %a{href: 'http://twitter.github.com/bootstrap/'} bootstrap
          %strong Script:
          %a{href: 'http://jashkenas.github.com/coffee-script/'} coffee-script
          %strong Test:
          %a{href: 'http://pivotal.github.com/jasmine/'} jasmine
          %strong Auto compile:
          %a{href: 'https://github.com/guard/guard/'} guard
          %strong Others:
          %a{href: 'http://haml-lang.com/'} haml
          ,
          %a{href: 'http://compass-style.org/'} compass
